---
import ContactForm from "../components/ContactForm.astro";
import ContactFormScript from "../components/ContactFormScript.astro";
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import MailIcon from "../components/icons/Mail.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import InstagramIcon from "../components/icons/Instagram.astro";
import FacebookIcon from "../components/icons/Facebook.astro";
---

<Layout
  title="Contacto | 츼lvaro"
  description="Cont치ctame para trabajar juntos en tu pr칩ximo proyecto web o m칩vil."
>
  <SectionContainer class="min-h-[80vh] flex items-center justify-center flex-col pt-28 md:pt-20">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 md:gap-x-20 items-center">
      <ContactForm />

      <div class="text-center space-y-6">
        <img
          src="../projects/img-contact.webp"
          alt="Ilustraci칩n de contacto"
          class="mx-auto max-w-xs"
        />
        <p class="text-gray-900 dark:text-white">游늸 Lima, Per칰</p>

        <div class="flex flex-col items-center space-y-4">
          <div class="flex justify-center gap-4">
            <SocialPill href="https://github.com/alvaro234214125">
              <GitHubIcon class="size-5 md:size-7" />
            </SocialPill>
            <SocialPill href="mailto:alvarocesardiazchang2@gmail.com">
              <MailIcon class="size-1 md:size-7" />
            </SocialPill>
            <SocialPill href="https://www.linkedin.com/in/alvarodiazchang/">
              <LinkedInIcon class="size-4 md:size-6" />
            </SocialPill>
          </div>

          <div class="flex justify-center gap-4">
            <SocialPill href="https://www.instagram.com/diaz.alvaroo/">
              <InstagramIcon class="size-6 md:size-7" />
            </SocialPill>
            <SocialPill href="https://www.facebook.com/alvaro.suha">
              <FacebookIcon class="size-6 md:size-7" />
            </SocialPill>
          </div>
        </div>
      </div>
    </div>
  </SectionContainer>

  <ContactFormScript />
</Layout>
