---
const personalImageAlt = "Alvaro Diaz";
---

<article class="flex flex-col md:flex-row items-center justify-between gap-8 text-gray-700 dark:text-gray-300">
  <div class="text-pretty max-w-2xl space-y-4">
    <p>
      Me llamo 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        Alvaro Diaz Chang
      </strong> 
      y soy
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        estudiante del último ciclo de Computación e Informática en Cibertec
      </strong>. Me he mantenido consistentemente en el
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        décimo superior
      </strong> gracias a mi compromiso y pasión por la tecnología.
    </p>

    <p>
      Cuento con 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        un año de experiencia laboral
      </strong> desarrollando soluciones tecnológicas y gestionando comunidades digitales. He liderado proyectos que integran
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        desarrollo web, automatización de procesos y estrategias digitales
      </strong>.
    </p>

    <p>
      Trabajo con tecnologías como
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        Python, Java, HTML, JavaScript, MySQL, SQL Server y C#
      </strong>. Siempre busco
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        mejorar la eficiencia operativa, fomentar la innovación tecnológica y crecer profesionalmente
      </strong>.
    </p>
  </div>
</article>
