---
const personalImageAlt = "Alvaro Diaz";
---

<article class="flex flex-col md:flex-row items-center justify-between gap-8 text-gray-700 dark:text-gray-300 mb-12">
  <div class="text-pretty max-w-2xl space-y-4">
    <p>
      Soy 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        Alvaro Diaz Chang,
      </strong> egresado de Computación e Informática en Cibertec y actualmente estudiante del 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        séptimo ciclo de Ingeniería de Software en la UPC.
      </strong> Me apasiona la tecnología y el desarrollo backend, y estoy en constante búsqueda de nuevos desafíos que impulsen mi crecimiento profesional.
    </p>

    <p>
      Tengo experiencia en proyectos de 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        desarrollo web, automatización de procesos y gestión de plataformas digitales.
      </strong> He trabajado liderando soluciones orientadas a la mejora operativa, desde la arquitectura de software hasta la implementación de 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        API REST con Java y Spring Boot.
      </strong>
    </p>

    <p>
      Manejo tecnologías como 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        Java, Spring Boot, MySQL, SQL Server, HTML, JavaScript, Python y Git.
      </strong> Actualmente me enfoco en construir sistemas escalables y eficientes, con énfasis en 
      <strong class="font-mono font-normal text-purple-600 dark:text-purple-300">
        buenas prácticas, seguridad, y rendimiento.
      </strong> Mi objetivo es seguir creciendo como desarrollador backend y aportar valor real a cada equipo en el que participe.
    </p>
  </div>
</article>
