---
import '../styles/global.css';
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:alvarocesardiazchang2@gmail.com",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
  class="flex px-4 py-1 text-sm font-medium rounded-full text-gray-100 justify-center items-center border border-[0.1px] backdrop-blur-md bg-black/60 border-black dark:border-white"
>
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-purple-300 dark:hover:text-purple-300"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>
<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-purple-300")
            } else {
              item.classList.remove("text-purple-300")
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>
<style>
nav {
  animation: fade-in-nav linear forwards;
  animation-timeline: scroll();
  animation-range: 0 150px;
  transition: all 0.3s ease;
  border-color: black;
}

@media (prefers-color-scheme: dark) {
  nav {
    border-color: white;
  }
}

@keyframes fade-in-nav {
  0% {
    background-color: rgba(0, 0, 0, 0); 
    border-width: 0;
    backdrop-filter: blur(0px);
    box-shadow: none;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.6); 
    border-width: 0.5px;
    backdrop-filter: blur(12px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
}

</style>

