---
const personalImageAlt = "Alvaro Diaz"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHubIcon from '../components/icons/GitHub.astro';
import InstagramIcon from "../components/icons/Instagram.astro"
import FacebookIcon from '../components/icons/Facebook.astro';
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://avatars.githubusercontent.com/u/133562578?s=400"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/alvarodiazchang/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola! Soy Alvaro
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-purple-300 dark: [&>strong]:text-purple-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +1 años de experiencia. <strong
      >Desarrollador Full Stack</strong
    > de Lima, Perú. Especializado en el desarrollo de aplicaciones web.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://www.instagram.com/diaz.alvaroo/">
					<InstagramIcon class="size-6 md:size-7"/>
					Instagram
		</SocialPill> 
    <SocialPill href="https://www.facebook.com/alvaro.suha">
					<FacebookIcon class="size-6 md:size-7"/>
					Facebook
		</SocialPill> 
    <SocialPill href="https://www.linkedin.com/in/alvarodiazchang/">
      <LinkedInIcon class="size-5  md:size-5" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/alvaro234214125">
					<GitHubIcon class="size-5 md:size-6"/>
					GitHub
		</SocialPill>
    <SocialPill href="mailto:alvarocesardiazchang2@gmail.com">
      <MailIcon class="size-3" />
      alvarocesardiazchang2@gmail.com
    </SocialPill>
  </nav>
</div>