---
const { targetId = "extra-projects" } = Astro.props;
---

<button
  id="toggle-button"
  class="px-6 py-2 bg-purple-500 text-white text-sm rounded-full hover:bg-purple-600 transition"
  data-target={targetId}
>
  Ver más proyectos
</button>

<script is:inline>
  setTimeout(() => {
    const button = document.getElementById("toggle-button");
    const section = document.getElementById(button?.dataset.target);

    if (!button || !section) return;

    let isExpanded = false;

    button.addEventListener("click", () => {
      isExpanded = !isExpanded;

      section.classList.toggle("max-h-0", !isExpanded);
      section.classList.toggle("opacity-0", !isExpanded);
      section.classList.toggle("scale-95", !isExpanded);

      section.classList.toggle("max-h-[2000px]", isExpanded);
      section.classList.toggle("opacity-100", isExpanded);
      section.classList.toggle("scale-100", isExpanded);

      button.textContent = isExpanded
        ? "Mostrar menos proyectos"
        : "Ver más proyectos";
    });
  }, 100);
</script>
